html, body{
margin: 0;
padding: 0;
}
p{
text-align: justify;
}
#box{
width: 1000px;
height: auto;
margin: auto;
}
#header{
background-color: rgb(255, 145, 0);
padding: 20px;
}
#menubar{
background-color: #94540bf3;
margin: auto;
}
.teksmenu{
text-decoration: none;
}
#konten{
padding: 20px;
}
#footer{
background-color: #da971a;
padding: 20px;
}
